{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "title" }}
	Posts
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster{{- end -}}">
		<h1>Posts</h1>

		{{- range .Site.RegularPages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.RelPermalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format (default "Jan 2" .Site.Params.dateform.ShortDate) }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
<footer id="site-footer" class="section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">
	{{- partial "footer.html" . -}}
</footer>
{{ end }}